
//COLORES
$verde: #72B84E
$verde-2: #E1F5D9
$blanco: #FFFFFF
$azul: #1A1B37
//SOMBRAS 
$sombra1: 23px -10px 50px -33px $verde
$sombra2: 17px 17px 50px -33px $verde
$sombra3:  0px 4px 72px -33px $verde
//TIPOGRAFÍAS
h1
    font-family: 'Nunito', sans-serif
    font-size: 50pt
    font-weight: 900
    color: $azul 
    
h2
    font-family: 'Nunito', sans-serif
    font-size: 57pt
    font-weight: 900 
h3
    font-family: 'Nunito', sans-serif
    font-size: 46pt
    font-weight: 900
h4
    font-family: 'Nunito', sans-serif
    font-size: 37pt
    font-weight: 900  
h5
    font-family: 'Nunito', sans-serif
    font-size: 25pt
    font-weight: 900
h6
    font-family: 'Nunito', sans-serif
    font-size: 14pt
    font-weight: 900

.subtitle1
    font-family: 'Nunito', sans-serif
    font-size: 25pt
    font-weight: 400
    color: $verde
.subtitle2
    font-family: 'Nunito', sans-serif
    font-size: 15pt
    font-weight: 900
    color: $verde
.subtitle3
    font-family: 'Nunito', sans-serif
    font-size: 14pt
    font-weight: 400
    color: $azul
.body1
    font-family: 'Nunito', sans-serif
    font-size: 19pt
    font-weight: 700
.body2 
    font-family: 'Nunito', sans-serif
    font-size: 19pt
    font-weight: 400
#btn 
    font-family: 'Nunito', sans-serif
    font-size: 12pt
    font-weight: 900 
    

.material-symbols-outlined
    font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48,
    color: $verde
    height: 35px
    width: 35px
    border: 3px solid $verde
    @apply rounded-full
    display: flex
    align-items: center
    justify-content: center
    margin-left: 10px
    margin-right: 10px

.material-symbols-fill
    font-variation-settings: 'FILL' 1,'wght' 400,'GRAD' 0,'opsz' 48,
    color: $blanco
    height: 48px
    width: 48px
    @apply rounded-full
    background-color: $verde
    display: flex
    align-items: center
    justify-content: center
    margin-left: 10px
    margin-right: 10px
    &:hover 
        background-color: $verde-2
        color: $verde
        border: 3px solid $verde



